/*
Theme Name: Kinderhulp_Togo
Theme URI: http://wordpress.org/
Description: 
Author: Marcel ten Have
Version: 2
License: GNU General Public License
License URI: license.txt
Tags: 
*/


/* =Reset default browser CSS. Based on work by Eric Meyer: http://meyerweb.com/eric/tools/css/reset/index.html
-------------------------------------------------------------- */
* {
	margin: 0px;
	padding: 0px;
}

body {
	height: 100%;
	width: 100%;
	background-repeat: repeat;
	background-position: left top;
	background-attachment: fixed;
	background-color: #006600;
	background-image: url(Images/Opmaak/fondsite.gif);
	margin: 0px;
	padding: 0px;
}
html {
	overflow: scroll;
}
#ContainerHomepage {
	width: 1680px;
	height: 1050px;
	visibility: visible;
	z-index: 8;
	margin-top: -525px;
	margin-left: -840px;
	position: absolute;
	overflow: hidden;
	left: 50%;
	top: 50%;
	padding: 0px;
}

.Centreren {
	text-align: center;
}
.TabelHomePageUitlijnen {
	padding: 0px 5px;
	font-size: 12px;
}
.TabelHomePageUitlijnen ul li{
	margin-left: -20px;
	font: 12px Arial, Helvetica, sans-serif;
	color: #666;

}


.TabelHomePage {
	width: 850px;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	left: 0px;
	margin-top: -50px;
	right: 0px;
	padding: 0px;
	margin-bottom: 10px;
}
.TabelHomePage a:link {
	color: #666;
	text-decoration: none;
}
.TabelHomePage a:visited {
	color: #666;
	text-decoration: underline;
}
.TabelHomePage a:hover {
	color: #FF0000;
	text-decoration: underline;
}


#Container {
	width: 903px;
	margin-left: -452px;
	position: absolute;
	left: 50%;
	top: 32px;
	visibility: visible;
	background-color: #666666;
	z-index: 2;
	background-image: none;
	height: 400px;
}

#TopBanner {
	position: absolute;
	height: 100px;
	width: 903px;
	left: 0px;
	top: 0px;
	z-index: 200;
	background-color: #FFFFFF;
	visibility: visible;
	overflow: hidden;
}
#TopBanner img{
	left: 0px;
	top: 0px;
	margin-left: -28px;
}

#TopBanner2 {
	position: absolute;
	width: 903px;
	left: 0px;
	top: 101px;
	z-index: 90;
	height: 320px;
	visibility: visible;
}


#Topnavigatie {
	width: 903px;
	position: absolute;
	z-index: 51;
	height: 20px;
	float: left;
	top: 9px;
	left: 1px;
	visibility: visible;
	border-top: none;
	border-right: none;
	border-bottom: none;
	border-left: none;
}
#Topnavigatie ul {
	list-style-type: none;
	padding: 0px;
	margin: 0px;
	position: absolute;
	display: block;
	left: 0px;
	top: 0px;
	z-index: 1;
	visibility: visible;
}
#Topnavigatie ul li {
	position: relative;
	list-style-type: none;
	width: 117px;
	display: block;
	text-align: center;
	float: left;
	height: 25px;
	background-image: url(Images/Opmaak/VertNaveRood_hor.jpg);
	background-repeat: repeat;
	background-position: top;
	margin-left: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	line-height: 25px;
	font-weight: bold;
	background-color: #900;
}
#Container #Topnavigatie a:link {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#Container #Topnavigatie a:visited {
	color: #FFFFFF;
	text-decoration: none;
	display: block;
}
#Container #Topnavigatie a:hover {
	text-decoration: none;
	color: #FFFFFF;
	background-image: url(Images/Opmaak/VertNaveBlauw_hor.jpg);
	background-repeat: no-repeat;
	background-position: top;
}

#Linkerfoto {
	position: relative;
	width: 200px;
	left: 0px;
	z-index: 127;
	visibility: visible;
	margin-top: 50px;
	top: 0px;
	float: left;
	margin-left: -680px;
	height: auto;
}
#LinkerfotoHomePage {
	position: relative;
	width: 200px;
	left: 20px;
	height: auto;
	z-index: 127;
	visibility: visible;
	overflow: visible;
	margin-top: 50px;
	top: 0px;
	float: left;
	display: none;
}
#MiddenblokHomepage {
	z-index: 128;
	width: 850px;
	color: #000000;
	list-style-position: outside;
	list-style-image: url(../Images/Opmaak/List_item_Groen.jpg);
	border: 1px solid #CCCCCC;
	position: relative;
	left: 10px;
	top: 0px;
	margin-top: -120px;
	visibility: visible;
	float: left;
	background-image: url(../Images/Opmaak/Wit_f2f2f2.png);
	background-repeat: repeat;
	background-position: left top;
	font-style: normal;
	line-height: 110%;
	font-weight: normal;
	font-variant: normal;
	padding: 50px 10px 0px;
}
#Broodkruimel {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 60%;
	font-style: normal;
	line-height: 110%;
	font-weight: normal;
	left: 170px;
	top: 320px;
	position: absolute;
	height: 30px;
	width: 480px;
	z-index: 202;
	color: #999999;
	text-decoration: none;
	visibility: visible;
	margin-top: -10px;
}
#Broodkruimel a:link {
	color: #999999;
	text-decoration: none;
}
#Broodkruimel a:visited {
	color: #999999;
	text-decoration: none;
}
#Broodkruimel a:hover {
	color: #FF0000;
}

#Footer {
	position: relative;
	height: 300px;
	z-index: 126;
	text-decoration: none;
	border-top-width: 0px;
	border-right-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-top-style: none;
	background-image: url(Images/Opmaak/footer_green.png);
	background-repeat: repeat-x;
	background-position: left top;
	overflow: visible;
	width: 903px;
	left: 0px;
	top: 0px;
	float: left;
	visibility: visible;
	list-style-type: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	background-color: #C70000;
	padding: 0px;
	margin-top: 20px;
	margin-bottom: -15px;
}

#Footer #first {
	width: 180px;
	left: 0px;
	top: 0px;
	position: absolute;
	margin-left: 40px;
	margin-top: 20px;
	height: 260px;
	border-left: 2px none #CCC;
}
#Footer #second {
	width: 180px;
	left: 0px;
	top: 0px;
	margin-left: 200px;
	position: absolute;
	margin-top: 20px;
	height: 260px;
}
#Footer #third {
	width: 180px;
	left: 0px;
	top: 0px;
	margin-left: 380px;
	position: absolute;
	margin-top: 20px;
	height: 260px;
}
#Footer #fourth {
	width: 180px;
	left: 0px;
	top: 0px;
	margin-left: 580px;
	position: absolute;
	height: 260px;
}





#Footer ul {
	width: 200px;
	list-style-type: none;
	margin-top: 20px;
	margin-left: 0px;
	position: absolute;
	left: 0px;
	top: 0px;
}
#Footer ul li {
	color: #999;
	text-decoration: none;
	position: relative;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	list-style-type: none;
	display: block;
	font-weight: normal;
	overflow: visible;
	line-height: 14px;
	height: 20px;
}

#Footer a:link {
	color: #FFF;
	text-decoration: none;
	position: relative;
	list-style-type: none;
	float: left;
	padding-right: 5px;
	margin-top: 0px;
	margin-right: 5px;
	margin-bottom: 0px;
	padding-top: 0px;
	display: block;
	overflow: visible;
	height: 10px;
}
#Footer a:visited {
	color: #FFF;
	text-decoration: none;
	display: block;
	list-style-type: none;
	float: left;
	overflow: visible;
}
#Footer a:hover {
	color: #999;
	text-decoration: none;
	display: block;
	list-style-type: none;
	float: left;
	overflow: visible;
}
#Footer h3  {
	font: bold 16px/18px Verdana, Geneva, sans-serif;
	color: #FFF;
	left: 0px;
	top: 0px;
	height: 20px;
}

#Clear {
	clear: both;
}
#Middenbloklandingspagina {
	z-index: 128;
	width: 678px;
	color: #000;
	list-style-position: outside;
	list-style-image: url(../Images/Opmaak/List_item_Groen.jpg);
	border: 1px solid #CCCCCC;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: -120px;
	padding-top: 10px;
	visibility: visible;
	float: left;
	background-image: url(Images/Opmaak/Wit_f2f2f2.png);
	background-repeat: repeat;
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 120%;
	margin-left: 10px;
	font-weight: normal;
	padding-left: 20px;
}
#Middenbloklandingspagina table {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #666;
	width: 660px;
	position: relative;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	border: 1px solid #CCC;
}
#Middenbloklandingspagina table img {
	margin: 0px auto;
	border-style: none;
}
#Middenbloklandingspagina table h4 {
	background: #DEDEDE;
}
#Middenbloklandingspagina table td {
	background: #e8e8e8;
	padding: 5px;
}
#Middenbloklandingspagina table ul li {
	margin-left: 20px;
	list-style-image: url(Images/Opmaak/List_item_Groen.jpg);
}
#Middenbloklandingspagina table a:link {
	color: #666;
	text-decoration: none;
}
#Middenbloklandingspagina table a:visited {
	color: #666;
	text-decoration: none;
}
#Middenbloklandingspagina table a:hover {
	color: #F00;
	text-decoration: underline;
}
#Middenbloklandingspagina h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16pt;
	line-height: 40px;
	color: #006600;
	margin-top: 10px;
	margin-bottom: 30px;
	left: 0px;
	top: 0px;
	margin-left: 0px;
	font-weight: bold;
	border-bottom: 2px solid #006600;
	display: none;
}
#Middenbloklandingspagina h2 {
	font-size: 14pt;
	line-height: 30px;
	color: #006600;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	margin-top: 2px;
	margin-bottom: 5px;
	margin-left: 0px;
	border-bottom: 1px none #006600;
	font-weight: normal;
}
#Middenbloklandingspagina h3 {
	font-size: 14pt;
	line-height: 110%;
	color: #090;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: -10px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: normal;
}
#Middenbloklandingspagina h4 {
	font-size: 9pt;
	line-height: 20px;
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-indent: 4px;
	display: block;
}
#Middenbloklandingspagina .aligncenter {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #060;
	text-decoration: none;
}
#Middenbloklandingspagina .alignright {
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #060;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
}
#Middenbloklandingspagina .alignleft {
	float: left;
	margin-right: 30px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #060;
	text-align: center;
}



#Middenblok {
	z-index: 128;
	width: 470px;
	color: #000;
	list-style-position: outside;
	list-style-image: url(../Images/Opmaak/List_item_Groen.jpg);
	border: 1px solid #CCCCCC;
	position: relative;
	left: 0px;
	top: 0px;
	margin-top: -120px;
	padding-left: 50px;
	padding-right: 50px;
	padding-top: 10px;
	visibility: visible;
	float: left;
	background-image: url(Images/Opmaak/Wit_f2f2f2.png);
	background-repeat: repeat;
	background-position: left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 10pt;
	line-height: 120%;
	font-weight: normal;
	margin-left: 138px;
}

#Middenblok ul{
	margin-top: 10px;
	margin-bottom: 10px;
}
#Middenblok ul li{
	margin-left: 40px;
	list-style-image: url(Images/Opmaak/List_item_Groen.jpg);
}
#Middenblok .page-title span{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 22pt;
	line-height: 40px;
	color: #006600;
	margin-top: 10px;
	margin-bottom: 30px;
	left: 0px;
	top: 0px;
	margin-left: 5px;
	font-weight: normal;
	border-bottom: 1px none #006600;
	font-style: normal;
}
#Middenblok .page-title  {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 10pt;
	line-height: 40px;
	color: #900;
	left: 0px;
	top: 0px;
	font-weight: bold;
	border-bottom: 1px solid #900;
	font-style: italic;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-left: -10px;
}
#Middenblok p{
	margin-bottom: 12px;
}
#Middenblok h1 {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 16pt;
	line-height: 40px;
	color: #006600;
	margin-top: 10px;
	margin-bottom: 30px;
	left: 0px;
	top: 0px;
	margin-left: -10px;
	font-weight: bold;
	border-bottom: 2px solid #006600;
}



#Middenblok h2 {
	font-size: 14pt;
	line-height: 30px;
	color: #006600;
	font-family: Tahoma, Geneva, sans-serif;
	text-decoration: none;
	margin-top: 10px;
	margin-bottom: 5px;
	margin-left: -10px;
	border-bottom: 1px solid #006600;
	font-weight: normal;
}

#Middenblok h3 {
	font-size: 14pt;
	line-height: 110%;
	color: #090;
	font-family: Verdana, Geneva, sans-serif;
	margin-left: -10px;
	text-decoration: none;
	margin-top: 20px;
	margin-bottom: 5px;
	font-weight: normal;
}

#Middenblok h4 {
	font-size: 9pt;
	line-height: 20px;
	color: #006600;
	font-family: Arial, Helvetica, sans-serif;
	text-decoration: none;
	font-weight: bold;
	text-indent: 4px;
	display: block;
}

#Middenblok tt{
	font: normal 10pt/120% Arial, Helvetica, sans-serif;
	text-decoration: none;
}

#Middenblok .post{
	margin-top: 3px;
	margin-bottom: 3px;
}



#Middenblok   .entry-title a:link{
	font-size: 14pt;
	line-height: 25px;
	color: #006600;
	font-weight: normal;
	font-family: Tahoma, Geneva, sans-serif;
	margin-left: 0px;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 2px;
}
#Middenblok .entry-title a:visited {
	color: #006600;
	text-decoration: none;
}
#Middenblok .entry-title a:hover {
	color: #F00;
	text-decoration: none;
}
#Middenblok .entry-meta{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	line-height: 120%;
	color: #999;
	text-decoration: none;
	margin-top: 0px;
	margin-bottom: 2px;
	font-weight: normal;
}

#Middenblok .entry-meta a:link {
	color: #666;
	text-decoration: none;
}
#Middenblok .entry-meta a:visited {
	color: #999;
	text-decoration: none;
}
#Middenblok .entry-meta a:hover {
	color: #F00;
	text-decoration: none;
}
#Middenblok .entry-utility {
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
	line-height: 100%;
	font-weight: normal;
	color: #999;
	text-decoration: none;
	margin-top: 5px;
	margin-bottom: 20px;
}
#Middenblok .entry-utility a:link {
	font-weight: normal;
	color: #666;
	text-decoration: none;
}
#Middenblok .entry-utility a:visited {
	color: #666;
	text-decoration: none;
}
#Middenblok .entry-utility a:hover {
	font-weight: normal;
	color: #F00;
	text-decoration: none;
}
#Middenblokm .entry-content{
	margin-top: 0px;
}
#Middenblokm .entry-content ul li a:link{
	text-decoration: underline;
	line-height: 17px;
	height: 17px;
}
#Middenblokm .entry-content ul li a:visited {
	text-decoration: none;
}
#Middenblokm .entry-content ul li a:hover {
	text-decoration: underline;
}


#Middenblok .post{

}

#Middenblok #nav-above {
	width: 480px;
	height: 50px;
	margin-top: 0px;
	margin-left: -10px;
	border-top: 1px none #900;
}
#Middenblok #nav-below {
	width: 480px;
	margin-top: 60px;
	height: 18px;
	margin-left: -10px;
	border-bottom: 1px solid #900;
	margin-bottom: 40px;
}
#Middenblok .nav-previous a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFF;
	height: 18px;
	width: 105px;
	left: 0px;
	top: 0px;
	line-height: 18px;
	text-decoration: none;
	position: relative;
	background-image: url(Images/Opmaak/Rood_vervolg_vorig.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	float: left;
	text-align: center;
}
#Middenblok .nav-previous a:visited {
	color: #FFF;
	height: 18px;
	width: 105px;
	left: 0px;
	top: 0px;
	text-decoration: none;
}
#Middenblok .nav-previous a:hover {
	color: #FFF;
	height: 18px;
	width: 105px;
	left: 0px;
	top: 0px;
	text-decoration: none;
	background-image: url(Images/Opmaak/TopNav_Blauw.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#Middenblok .nav-next a:link{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 8pt;
	color: #FFF;
	height: 18px;
	width: 105px;
	line-height: 18px;
	left: 0px;
	top: 0px;
	text-decoration: none;
	background-image: url(Images/Opmaak/Rood_vervolg_vorig.png);
	background-repeat: repeat-x;
	background-position: left bottom;
	float: right;
	text-align: center;
}
#Middenblok .nav-next a:visited {
	color: #FFF;
	text-decoration: none;
	height: 18px;
	width: 105px;
	left: 0px;
	top: 0px;
}
#Middenblok .nav-next a:hover {
	color: #FFF;
	height: 18px;
	width: 105px;
	text-decoration: none;
	background-image: url(Images/Opmaak/TopNav_Blauw.jpg);
	background-repeat: repeat-x;
	background-position: left bottom;
}
#Middenblok .comments-link {
	display: none;
}
#Middenblokm .meta-sep {
	display: none;
}
#Middenblok img{
	border: 2px solid #E6E6E6;
	padding: 10px;
	visibility: visible;
	z-index: 150;
}
#Middenblok .wp-caption-text{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #006600;
	margin-bottom: 10px;
	text-align: center;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
#Middenblok .wp-caption-dd {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #006600;
	margin-bottom: 10px;
	text-align: center;
	padding-left: 10px;
	margin-right: auto;
	margin-left: auto;
}
#Middenblok .alignright{
	float: right;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #060;
	font-weight: normal;
	margin-left: 10px;
	margin-right: 10px;
}

#Middenblok .aligncenter {
	text-align: center;
	display: block;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	font-weight: normal;
	color: #060;
	text-decoration: none;
}

#Middenblok .alignleft{
	float: left;
	margin-right: 30px;
	margin-left: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 90%;
	color: #060;
	text-align: center;
}

#Middenblok form{
	margin-top: 30px;
}
#Middenblok .entry-summary a:link{
	background: url(Images/Opmaak/Grijs_vervolg_vorig.gif) repeat-x left bottom;
	float: right;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	width: auto;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
}
#Middenblok .entry-summary a:visited {
	float: right;
	color: #FFF;
	text-decoration: none;
}
#Middenblok .entry-summary a:hover {
	background: url(Images/Opmaak/Rood_vervolg_vorig.png) repeat-x left bottom;
	float: right;
	color: #FFF;
	text-decoration: none;
}
#Middenblok a[href$=".PDF"] ,#Middenblok a[href$=".pdf"] {
	background: url(Images/Opmaak/icon_pdf.gif) no-repeat left bottom;
	padding-left: 20px;
	list-style: none;
	margin-left: 2px;
}
#Middenblok a[href$=".DOC"], #Middenblok a[href$=".doc"] {
	background: url(Images/Opmaak/wordLogo.gif) no-repeat left center;
	padding-left: 20px;
	margin-left: 2px;
}
#Middenblok a[href$=".PPT"], #Middenblok a[href$=".ppt"] {
	background: url(Images/Opmaak/icon_PPT.gif) no-repeat left center;
	padding-left: 20px;
	margin-left: 2px;
}
#Middenblok a[href*="#more"]:link{
	background: url(Images/Opmaak/Grijs_vervolg_vorig.gif) repeat-x left bottom;
	float: right;
	color: #FFF;
	line-height: 14px;
	text-decoration: none;
	width: auto;
	padding-right: 5px;
	padding-left: 5px;
	margin-top: 5px;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 8pt;
}
#Middenblok a[href*="#more"]:visited{
	float: right;
	color: #FFF;
	text-decoration: none;
}
#Middenblok a[href*="#more"]:hover{
	background: url(Images/Opmaak/Rood_vervolg_vorig.png) repeat-x left bottom;
	float: right;
	color: #FFF;
	text-decoration: none;
}
#Middenblok table{
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 9pt;
	font-style: normal;
	font-weight: normal;
	color: #666;
	width: 460px;
	position: relative;
	margin: 0px;
	padding: 0px;
	left: 0px;
	top: 0px;
	border: 1px solid #CCC;
}

#Middenblok table img{
	margin: 0px auto;
	padding: 0px;
	border-style: none;
}

#Middenblok table h4 {
	background: #CCC;
}

#Middenblok table td{
	background: #e8e8e8;
	padding: 5px;
}

#Middenblok table ul li{
	margin-left: 20px;
	list-style-image: url(Images/Opmaak/List_item_Groen.jpg);
}

#Middenblok table a:link{
	color: #666;
	text-decoration: underline;
}


#Middenblok table a:visited {
	color: #666;
	text-decoration: underline;
}


#Middenblok table a:hover {
	color: #F00;
	text-decoration: underline;
}


#Middenblok a:link{
	text-decoration: underline;
	color: #000;
}

#Middenblok a:visited{
	color: #000000;
	text-decoration: underline;
}

#Middenblok a:hover{
	color: #FF0000;
	text-decoration: underline;
}


#Tekstsluiter {
	background-image: url(Images/Opmaak/TekstSluiter.gif);
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	width: 55px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 10px;
	visibility: visible;
	left: 200px;
	margin-bottom: 20px;
	display: none;
}
#TekstsluiterHomePage {
	background-image: url(../Images/Opmaak/TekstSluiter.gif);
	position: relative;
	background-repeat: no-repeat;
	background-position: center center;
	width: 55px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	height: 10px;
	visibility: visible;
	left: 400px;
	margin-bottom: 20px;
	display: none;
}
.KleineLetterBijFoto a:link{
	text-decoration: underline;
	color: #006600;
}
.KleineLetterBijFoto a:visited {
	font-weight: normal;
	color: #006600;
}
.KleineLetterBijFoto a:hover {
	font-weight: normal;
	color: #900;
}



#Rechterfoto {
	position: absolute;
	z-index: 127;
	top: 150px;
	right: 20px;
	visibility: hidden;
}
#VertNavigatie {
	position: relative;
	height: auto;
	width: 148px;
	z-index: 204;
	visibility: visible;
	float: left;
	left: 0px;
	top: 0px;
	margin-top: -120px;
	margin-left: 10px;
	list-style-type: none;
	border: 1px solid #CCC;
	padding: 10px;
	background: #f2f2f2;
}
#VertNavigatie img{
	border-style: none;
	padding: 0px;
	margin-top: -3px;
	margin-left: -5px;
}
#VertNavigatie .widget_search    {
	position: relative;
	float: left;
	width: 80%;
	background: #e8e8e8;
	font: bold 14px/120% Arial, Helvetica, sans-serif;
	color: #060;
}
#VertNavigatie .widget-title{
	font: normal 8pt/20px Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
	float: left;
	background: url(Images/Opmaak/NavigatieWidgets.gif) repeat-x left top;
	padding-left: 5px;
	height: 25px;
	width: 148px;
}
#VertNavigatie .widget_sp_image {
	width: 148px;
	margin-left: -30px;
	padding-left: -30px;
	left: 30px;
}
#VertNavigatie .widget-container{
	padding: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	width: 148px;
	overflow: hidden;
	border: 1px solid #CCC;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-left: 0px;
}
#VertNavigatie #searchform input[type="text"]{
	margin-top: 0px;
	list-style-type: none;
	margin-bottom: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	width: 143px;
	border: 1px solid #999;
	font: 11px Arial, Helvetica, sans-serif;
	color: #333;
	height: 14px;
	padding-left: 2px;
}
#VertNavigatie #searchform input[type="submit"] {
	margin-top: 2px;
	list-style-type: none;
	margin-bottom: 0px;
	position: relative;
	left: 0px;
	top: 0px;
	width: 148px;
	color: #060;
	font-size: 12px;
	font-weight: bold;
}
#VertNavigatie .screen-reader-text {
	font: normal 8pt/20px Arial, Helvetica, sans-serif;
	color: #FFF;
	text-decoration: none;
	float: left;
	background: url(Images/Opmaak/NavigatieWidgets.gif) repeat-x left top;
	padding-left: 5px;
	height: 25px;
	width: 148px;
}

#VertNavigatie select  {
	margin-top: 5px;
	font-size: 11px;
	color: #333;
	list-style-type: none;
	width: 148px;
	font-family: Arial, Helvetica, sans-serif;
	border: 1px solid #999;
	height: 18px;
}
#VertNavigatie .cvg_slideshow{
	font: normal 10px/100% Arial, Helvetica, sans-serif;
	color: #000;
	float: left;

}
#VertNavigatie .textwidget{
	font: normal 11px/110% Arial, Helvetica, sans-serif;
	color: #000;
	margin: 0px;
	padding: 0px;
}
#VertNavigatie  li  ul{
	list-style-type: none;
}

#VertNavigatie .simple-section-nav a:link {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 110%;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 3px;
	background: #e8e8e8;
	border-top: 1px solid #F2F2F2;
}
#VertNavigatie .simple-section-nav a:visited {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px solid #F2F2F2;
}
#VertNavigatie .widget_recent_entries a:link {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 110%;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
	padding: 3px 5px 1px;
}


#VertNavigatie .widget_recent_entries a:visited  {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}
#VertNavigatie .widget_categories a:link {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 110%;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 3px;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}

#VertNavigatie .widget_categories a:visited {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}
#VertNavigatie .widget_archive a:link  {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	line-height: 110%;
	padding-left: 5px;
	padding-bottom: 1px;
	padding-top: 3px;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}
#VertNavigatie .widget_archive a:visited  {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}
#VertNavigatie .textwidget a:link {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	padding-left: 5px;
	padding-bottom: 0px;
	padding-top: 3px;
	background: #e8e8e8;
	border-top: 1px none #f2f2f2;
}
#VertNavigatie .textwidget a:visited {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px none #f2f2f2;
}
#VertNavigatie .follow_links a:link {
	list-style-type: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #333;
	text-decoration: none;
	display: block;
	padding-left: 2px;
	padding-top: 3px;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
	width: 148px;
	padding-bottom: 2px;
	margin: 0px;
}
#VertNavigatie .follow_links a:visited {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background: #e8e8e8;
	border-top: 1px solid #f2f2f2;
}
#VertNavigatie .widget_qtranslate .qtrans_flag span{
	background: #e8e8e8;
	width: 148px;
}
#VertNavigatie .widget_qtranslate .qtrans_flag{
	float: left;
	background: #e8e8e8;
	width: 148px;
	line-height: 16px;
}
#VertNavigatie .widget_qtranslate .qtrans_flag_and_text{
	height: 18px;
	background: #e8e8e8;
	font: 11px/16px Arial, Helvetica, sans-serif;
	color: #333;
	text-decoration: none;
	display: block;
	width: 148px;
	margin-bottom: 1px;
}
#VertNavigatie  .widget_qtranslate .qtrans_flag_nl{
	background-image: url(../../plugins/qtranslate/flags/nl.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	width: 146px;
	z-index: 100;
	text-indent: 5px;
	margin-bottom: 1px;
}
#VertNavigatie .widget_qtranslate .qtrans_flag_fr{
	background-image: url(http://localhost/kinderhulptogo/cms/wp-content/plugins/qtranslate/flags/fr.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-indent: 5px;
	width: 146px;
}
#VertNavigatie .widget_qtranslate .qtrans_flag_en{
	background-image: url(http://localhost/kinderhulptogo/cms/wp-content/plugins/qtranslate/flags/gb.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-indent: 5px;
	width: 146px;
}
#VertNavigatie .widget_qtranslate .qtrans_flag_de{
	background-image: url(http://localhost/kinderhulptogo/cms/wp-content/plugins/qtranslate/flags/de.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	text-indent: 5px;
	width: 146px;
	z-index: 1000;
}


#VertNavigatie .widget-container a:hover  {
	list-style-type: none;
	color: #333;
	text-decoration: none;
	background-color: #DBDBDB;
}
#VertNavigatie sup{
	font-size: 11px;
	font-family: Arial, Helvetica, sans-serif;
}

#VertNavigatieHomePage {
	position: absolute;
	height: auto;
	width: 158px;
	top: 342px;
	right: 20px;
	z-index: 204;
	visibility: visible;
	display: none;
}

#Fotogalerij {
	height: 20px;
	width: 158px;
	top: 342px;
	right: 20px;
	position: absolute;
	visibility: visible;
	z-index: 204;
	background-image: url(Images/Buttons/Fotogalerij_01.jpg);
}


#MiddenblokCentreren {
	padding-right: 50px;
	padding-left: 50px;
	margin-top: 40px;
	margin-bottom: 10px;
}
#SpecialNavigatie {
	height: 105px;
	width: 124px;
	right: 0px;
	position: absolute;
	z-index: 126;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #000000;
	top: 0px;
	margin-top: -45px;
	margin-right: 30px;
	visibility: visible;
}
#SpecialNavigatieHomePage {
	height: 105px;
	width: 124px;
	right: 0px;
	position: absolute;
	z-index: 126;
	padding: 0px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #000000;
	top: 0px;
	margin-top: -45px;
	margin-right: 30px;
	visibility: visible;
	display: none;
}

#LoGo {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 300px;
	z-index: 111;
	left: 20px;
	visibility: visible;
	background-image: url(Images/Opmaak/Logo_SKT_Def_100x100.png);
	overflow: visible;
}
#LoGoHomePage {
	position: absolute;
	height: 100px;
	width: 100px;
	top: 300px;
	z-index: 111;
	left: 20px;
	visibility: visible;
	display: none;
}

#AchtergrondMidden {
	position: absolute;
	z-index: 121;
	top: 421px;
	width: 903px;
	background-color: #FFFFFF;
	left: 0px;
	margin-bottom: 300px;
}
#Vlaggen {
	height: auto;
	width: auto;
	top: 310px;
	right: 10px;
	position: absolute;
	z-index: 82;
	font-weight: bold;
	text-align: right;
	background-color: #FFFFFF;
	color: #333333;
	line-height: normal;
	visibility: hidden;
}
#MiddenblokFotoGalerij {
	left: -60px;
	z-index: 90;
	width: 585px;
	height: auto;
	visibility: visible;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 80%;
	line-height: 110%;
	font-weight: bold;
	color: #000000;
	list-style-position: outside;
	list-style-image: url(../Images/Opmaak/List_item_Groen.jpg);
	float: left;
	background-color: #FFFFFF;
	border: 1px solid #CCCCCC;
	position: relative;
	top: 0px;
	margin-top: -120px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
}
#TopnavigatieFotogalerij {
	width: 903px;
	position: absolute;
	z-index: 70;
	height: 20px;
	float: left;
	top: 222px;
	border: 1px none #FFFF00;
	left: 0px;
	visibility: visible;
	background-color: #FFFFFF;
	background-image: url(../Images/Opmaak/TopNav_Rood.jpg);
	background-repeat: repeat-x;
	background-position: left top;
}
#TopBannerFotogalerij {
	position: absolute;
	height: 100px;
	width: 903px;
	left: 0px;
	top: 0px;
	background-image: url(../Images/Banners/TopBanner_Fotogalerij.jpg);
	background-repeat: no-repeat;
	z-index: 70;
	visibility: visible;
	background-position: center top;
	background-color: #FFFFFF;
}
#DoorzichtigeFolie {
	position: absolute;
	height: 200px;
	width: 903px;
	left: 0px;
	top: 248px;
	z-index: 95;
	visibility: visible;
	background-image: url(Images/Opmaak/DoorzichtigeFolie.png);
	background-repeat: no-repeat;
	background-position: top;
}
#TabjesBovenaan {
	height: 25px;
	width: 903px;
	top: 0px;
	z-index: 88;
	position: absolute;
	overflow: visible;
	left: 0px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: none;
	border-right-style: none;
	border-bottom-style: none;
	border-left-style: none;
	border-top-color: #FFFFFF;
	border-right-color: #FFFFFF;
	border-bottom-color: #FFFFFF;
	border-left-color: #FFFFFF;
	visibility: visible;
	background-image: url(Images/Opmaak/BannerTabjes-02.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin-top: -15px;
}
#TabjesBovenaan li{
	list-style-type: none;
}
#TabjesBovenaan ul {
	list-style-type: none;
	position: relative;
	display: block;
	left: 0px;
	top: 0px;
	padding-right: 20px;
	width: 480px;
	float: right;
	margin-top: -7px;
}
#TabjesBovenaan ul li  {
	list-style-type: none;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 12px;
	font-weight: bold;
	line-height: 18px;
	color: #FFF;
	text-decoration: none;
	height: 25px;
	width: 120px;
	position: relative;
	left: 0px;
	top: 0px;
	background: url(Images/Opmaak/TaalTabje_Donker.png) left top;
	float: left;
}
#TabjesBovenaan ul li:hover {
	list-style-type: none;
	height: 25px;
	width: 120px;
	position: relative;
	display: block;
	background: url(Images/Opmaak/TaalTabje_Licht.png) left top;
}


#TabjesBovenaan a:link {
	color: #FFF;
	text-decoration: none;
	margin-left: 10px;
	list-style-type: none;
	display: block;
	margin-top: 3px;
	height: 40px;
}
#TabjesBovenaan a:visited  {
	text-decoration: none;
	color: #FFF;
	list-style-type: none;
	display: block;
}
#TabjesBovenaan a:hover {
	color: #000;
	list-style-type: none;
	display: block;
}
#TabjesBovenaanm .qtrans_flag span{
	list-style-type: none;
}
#TabjesBovenaanm .qtrans_flag{
	float: left;
	list-style-type: none;
	z-index: auto;
}
#TabjesBovenaanm .qtrans_flag_and_text {
	list-style-type: none;
	display: block;
}
#TabjesBovenaan .qtrans_flag_nl{
	background-image: url(../../plugins/qtranslate/flags/nl.png);
	background-repeat: no-repeat;
	background-position: 3px 3px;
	list-style-type: none;
	padding-left: 5px;
	text-indent: 22px;
	z-index: 100;
}
#TabjesBovenaan .qtrans_flag_en {
	background-image: url(../../plugins/qtranslate/flags/gb.png);
	background-repeat: no-repeat;
	text-indent: 22px;
	background-position: 3px 3px;
	list-style-type: none;
	padding-left: 5px;
}
#TabjesBovenaan .qtrans_flag_fr {
	background-image: url(../../plugins/qtranslate/flags/fr.png);
	background-repeat: no-repeat;
	text-indent: 22px;
	background-position: 3px 3px;
	list-style-type: none;
	padding-left: 5px;
}
#TabjesBovenaan .qtrans_flag_de {
	background-image: url(../../plugins/qtranslate/flags/de.png);
	background-repeat: no-repeat;
	text-indent: 22px;
	background-position: 3px 3px;
	list-style-type: none;
	padding-left: 5px;
}






#Teller {

}


.formulier {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 100%;
	font-weight: normal;
	color: #000000;
	margin-bottom: 20px;
	width: 470px;
	border-top-width: 2px;
	border-top-style: none;
	border-top-color: #999999;
	border-bottom-width: 2px;
	border-bottom-style: none;
	border-bottom-color: #999999;
}
.FormulierInvulregel {
	width: 99%;
	border: 1px solid #999999;
	margin-top: 0px;
	margin-bottom: 10px;
	font-family: Arial, Helvetica, sans-serif;
}
#Gastenboek {
	width: 560px;
	margin-left: -40px;
}



#Container #AchtergrondMidden #Middenblok #MiddenblokCentreren .formulier a:link {
	color: #FFFFFF;
}
#Container #AchtergrondMidden #Middenblok #MiddenblokCentreren .formulier a:visited {
	color: #FFFFFF;
}
#Container #AchtergrondMidden #Middenblok #MiddenblokCentreren .formulier a:hover {
	color: #FFFF00;
	text-decoration: underline;
}
